<DOCTYPE html>
<html>

	<form method="post" action="/recipes/new" >
		<p> Name: <input type="text" name="recipes[name]"> </p>
		<p> Ingredients: <input type="text" name="recipes[Ingredients]"></p>
		<p> Cook Time: <input type="text" name="recipes[cook_time]"></p>
		<button type="submit" > Submit </button>
	</form>

</html>